:root{
    /**COLORS**/
    --body-color: rgb(247, 247, 255);
    --sidebar-color: #ffffff;
    --primary-color: #470202;
    --primary-light-color: #fa3b3b;
    --primary-light-color2: #fff0f0;
    --toggle-color: #3e3e3e;
    --text-color: #242424;
    --error-color:rgb(255, 0, 0);

    /**TRANSITIONS**/
    --slow: 0.6s all ease-in-out;
    --normal: 0.4s all ease-in-out;
    --fast: 0.2s all ease-in-out;

    --font1: Arial, sans-serif

}

body {
    font-family: var(--font1);
    background-color: var(--body-color);
}
.error .errorM{
    color: var(--error-color);
    font-weight: bold;
}




.formContainer {
    width: 27rem;
    margin: 50px auto;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.imageLogo{
    width: 3rem;
    height: 3rem;
    text-align: center;
}

.formHeader {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

.formContainer label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.formContainer input[type="submit"] {
    background-color: var(--text-color);
    color: var(--sidebar-color);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.formContainer input[type="submit"]:hover {
    background-color: #555555;
}

.error {
    color: var(--error-color);
    font-size: 20px !important;
    font-weight: bold;
    text-transform: uppercase !important;
    margin-bottom: 20px;
    text-align: center;
}


/*ADMIN______________ PAGE*/

nav {
    background-color: var(--body-color);
  }
  .navbar{
    font-weight: bold;
    font-size: large;
    padding-left: 6%;
    padding-right: 6%;
  }
  .logo{
    height: 25px;
    width: 27px;
    margin-top: -5px;
  }
  .dropdown-menu {
    background-color: var(--sidebar-color);
  }
  .dropdown-menu :hover {
    background-color: var(--sidebar-color);
    font-weight: bold;
    font-size: large;
  }
  .mainMenuLink {
    display: inline-block;
    vertical-align: middle; 
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
  }
  .mainMenuLink:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: var(--primary-light-color);
    height: 1.5px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .mainMenuLink:hover:before,
  .mainMenuLink:focus:before,
  .mainMenuLink:active:before {
    left: 0;
    right: 0;
  }
  
  
  
   /**NAV FOR THE LOGIN PAGES**/
  .sidebar{
    min-height: 100vh;
    width: 78px;
    padding: 6px 14px;
    z-index: 99;
    background-color: var(--sidebar-color);
    transition: all .5s ease;
    position: fixed;
    top:0;
    left: 0;
  }
  
  .sidebar.open{
    width: 250px;
  }
  
  .sidebar .logo_details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .sidebar .logo_details .icon{
    opacity: 0;
    transition: all 0.5s ease ;
  }
  
  
  
  .sidebar .logo_details .logo_name{
    color:var(--text-color);
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s ease;
  }
  
  .sidebar.open .logo_details .icon,
  .sidebar.open .logo_details .logo_name{
    opacity: 1;
  }
  
  .sidebar .logo_details #btn{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
  }
  
  .sidebar.open .logo_details #btn{
    text-align: right;
  }
  
  .sidebar i{
    color:var(--primary-light-color);
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
  }
  
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  
  .sidebar li{
    position: relative;
    margin:20px 0;
    list-style: none;
  }
  
  .sidebar li .tooltip{
    position: absolute;
    top:-20px;
    left:calc(100% + 15px);
    z-index: 3;
    background-color: var(--sidebar-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top:50%;
    transform: translateY(-50%);
  }
  
  .sidebar.open li .tooltip{
    display: none;
  }
  
  .sidebar input{
    font-size: 15px;
    color: var(--color-white);
    font-weight: 400;
    outline: none;
    height: 35px;
    width: 35px;
    border:none;
    border-radius: 5px;
    background-color: var(--primary-light-color2);
    transition: all .5s ease;
  }
  
  .sidebar input::placeholder{
    color:var(--text-color)
  }
  
  .sidebar.open input{
    width: 100%;
    padding: 0 20px 0 50px;
  }
  
  .sidebar .bx-search{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    font-size: 22px;
    background-color: var(--primary-light-color2);
    color: var(--primary-light-color);
  }
  
  .sidebar li a{
    
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    background-color: var(--sidebar-color);
    position: relative;
    transition: all .5s ease;
    z-index: 12;
  }
  
  .sidebar li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: var(--primary-light-color2);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
  }
  
  .sidebar li a:hover::after{
    transform: scaleX(1);
    color:var(--sidebar-color)
  }
  
  .sidebar li a .link_name{
    color:var(--text-color);
    font-size: 25px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
  }
  
  .sidebar li a:hover .link_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color:var(--primary-light-color)
  }
  
  .sidebar.open li a .link_name{
    opacity: 1;
    pointer-events: auto;
  }
  
  .sidebar li i{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom:-8px;
    padding:10px 14px;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  .sidebar.open li.profile{
    width: 250px;
  }
  
  .sidebar .profile .profile_details{
    display: flex;
    align-items: center;
    flex-wrap:  nowrap;
  }
  
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .sidebar li.profile .name,
  .sidebar li.profile .designation{
    font-size: 20px;
    font-weight: bold;
    color:var(--text-color);
    white-space: nowrap;
  }
  
  .sidebar li.profile .designation{
    font-size: 12px;
  }
  
  .sidebar .profile #log_out{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .sidebar.open .profile #log_out{
    width: 50px;
    background: none;
  }
  
  
  
  .home-section{
    position: relative;
    background-color: var(--body-color);
    min-height: 100vh;
    top:0;
    left:78px;
    width: calc(100% - 93px);
    transition: all .5s ease;
    z-index: 2;
  }
  
  .home-section .text{
    display: inline-block;
    color:var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
  }
  
  .sidebar.open ~ .home-section{
    left:250px;
    width: calc(100% - 250px);
  }
  .wrapper{
    margin-left: 20%;
  }
  /**THIS IS A PROFILE PAGE CSS**/
  
  
  .card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--sidebar-color);
    background-clip: border-box;
    border: 1px solid --;
    border-radius: .2rem;
  }
   .card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
  }
  .card-header {
    border-bottom-width: 1px;
  }
  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: var(--sidebar-color);
    border-bottom: 1px solid var(--primary-light-color2);
  }
  
  .select{
      margin: 10px 0;
      font-size: 18px;
  }
    
  .select label {
      display: inline-block;
      margin-right: 10px;
      font-weight: bold;
  }
    
  .select select {
      font-size: 18px;
      padding: 5px;
      border: 2px solid var(--primary-light-color);
      border-radius: 5px;
      outline: none;
      transition: border-color 0.3s ease-in-out;
  }
    
  .select select:focus{
      border-color:  var(--primary-light-color);
  }
  button, .btn{
    background-color: var(--primary-light-color) !important;
  } 
  
  
  
  
  .inpBTNPROFILE{
    display:none;
  }